<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="flex-wrap">
                <ul>
                    <li>
                        <a href="delivery.html">Доставка и оплата</a>
                    </li>      
                    <li>
                        <a href="stock.html">Акции и скидки</a>
                    </li>        
                    <li>
                        <a href="contact.html">Контакты</a>
                    </li>
                </ul>
                <div class="signIn">
                    <a href="javascript:void(0)" class="open-signIn"><span>Кабинет</span> <i class="icon-man"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="flex-wrap">
                <button class="toggle-menu">
                    <span class="hamburger">
                        <span class="sw-topper"></span>
                        <span class="sw-bottom"></span>
                        <span class="sw-footer"></span>
                    </span>
                </button>
                <div class="header__logo">
                    <a href="index.html">
                        <img src="../img/logo.png" alt="logotype">
                    </a>
                </div>
                <div class="header__search">
                    <div class="form-input show" id="form-input">
                        <input name="search" class="search-query" type="text">
                        <button class="button"><i class="icon-search"></i></button>
                    </div>
                    <div class="showSearch"><i class="icon-search"></i></div>
                </div>
                <div class="header__menu">
                    <div class="mobileClose"></div>
                    <div class="wrapper">
                        <a href="index.html" class="menu__logo">
                            <img src="../img/logo-white.png" alt="logotype">
                        </a>
                        <nav>
                            <ul>
                                <li>
                                    <a href="categories.html">Парфюмерия </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="categories.html">Женская парфюмерия</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="categories.html">Новинки</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Распродажа!</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Наборы</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Миниатюры</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Пробники</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Тестеры</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Нишевая парфюмерия</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Арабская парфюмерия</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="categories.html">Мужская парфюмерия</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="categories.html">Новинки</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Распродажа!</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Наборы</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Миниатюры</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Пробники</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Тестеры</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Нишевая парфюмерия</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>               
                                <li>
                                    <a href="categories.html">Уход за лицом</a>
                                </li>                
                                <li>
                                    <a href="categories.html">Уход за телом</a>
                                </li>               
                                <li>
                                    <a href="categories.html">Ароматы для дома </a>
                                </li>                
                                <li>
                                    <a href="stock.html">Подарки и бонусы</a>
                                </li>
                            </ul>
                        </nav>
                        <ul class="innerMenu">
                            <li>
                                <a href="javascript:void(0)">Акции и скидки</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__cart">
                    <a href="javascript:void(0)" class="js-open-basket">
                        <span class="label">Корзина</span>
                        <i class="icon-cart"></i>
                        <span class="cartAmount">3</span>
                    </a>
                </div>
                <div class="signIn">
                    <a href="javascript:void(0)" class="open-signIn"><i class="icon-man"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>