
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-man:before { content: '\e802'; } /* '' */
.icon-vk:before { content: '\e803'; } /* '' */
.icon-cart:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\f104'; } /* '' */
.icon-right:before { content: '\f105'; } /* '' */